.buy-oneclick-wrapper {
    padding: 10px;
}

.popup-wrapper {
    position: fixed;
    left:0;
    top:0;
    z-index: 120;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.18);
}

.popup {
    min-width: 450px;
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    padding: 20px;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.45);
}

.form-popup-buy-oneclick {
    display: flex;
    justify-content: space-between;
    align-items : center;
}

.hidden {
    display: none;
}
